* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;

}

.c01 {
    background: #000;
}

.c02 {
    background: #444;
}

.c03 {
    background: #555;
}

.c04 {
    background: #666;
}

.c31 {
    background: #ef426f;
}

.c32 {
    background: #171C8F;
}

.c33 {
    background: #f7f7f7;
}

.c34 {
    background: #33333386;
}